@{
    ViewBag.Title = "Schedule";
    Layout = "_Layout";
}
<div class="col-lg-offset-1 col-lg-10">

    <br/>

    <div class="col-md-8">
        <a asp-area="" asp-controller="Schedule" asp-action="GetDataAsCsv">Get CSV Template</a>
    </div>

    <form method="post" enctype="multipart/form-data" asp-controller="Schedule" asp-action="UploadCsv">
        <div class="form-group">
            <div class="col-md-10">
                <p>Upload the file using this form:</p>
                <input class="panel panel-default" type="file" name="file"/>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                <input class="btn btn-success" type="submit" value="Upload"/>
            </div>
        </div>
    </form>
</div>