@model FBPoster.ViewModels.CsvUploadViewModel

@{
    ViewBag.Title = "Confirmation";
    Layout = "_Layout";
}

<h2>Confirmation</h2>

@if (Model.HasError)
{
    <p class="text-danger">The data you uploaded has some errors please verify and try again.</p>
}

<form enctype="application/json" method="post" asp-controller="Schedule" asp-action="Confirm">
    @if (Model.Posts.Count != 0)
    {
        <div class="col-md-10">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Page ID</th>
                    <th scope="col">PublishOn</th>
                    <th scope="col">Content</th>
                    <th scope="col">ImgUrl</th>
                    <th scope="col">Url</th>
                    <th scope="col">Save Now</th>
                </tr>
                </thead>
                <tbody>
                @for (var i = 0; i< Model.Posts.Count; i++)
                {
                    if (@Model.ErrorLines.Contains(i))
                    {
                        <tr class="danger">
                            <th scope="row"></th>
                            <td>@Model.Posts[i].PageID</td>
                            <td>MM/DD/YY HH:mm</td>
                            <td>@Model.Posts[i].Content</td>
                            <td>@Model.Posts[i].ImgUrl</td>
                            <td>@Model.Posts[i].Url</td>
                            <td>
                                @{
                                    var s = Model.Posts[i].SaveNow ? "Yes" : "No";
                                }
                                @s
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr>
                            <th scope="row"></th>
                            <td>@Model.Posts[i].PageID</td>
                            <input asp-for="Posts[i].PageID" value="@Model.Posts[i].PageID" hidden="true"/>
                            <td>@Model.Posts[i].PublishOn</td>
                            <input asp-for="Posts[i].PublishOn" value="@Model.Posts[i].PublishOn.ToString("yyyy-MM-dd")T@(Model.Posts[i].PublishOn.ToString("HH:mm:ss"))" hidden="true"/>
                            <td>@Model.Posts[i].Content</td>
                            <input asp-for="Posts[i].Content" value="@Model.Posts[i].Content" hidden="true"/>
                            <td>@Model.Posts[i].ImgUrl</td>
                            <input asp-for="Posts[i].ImgUrl" value="@Model.Posts[i].ImgUrl" hidden="true"/>
                            <td>@Model.Posts[i].Url</td>
                            <input asp-for="Posts[i].Url" value="@Model.Posts[i].Url" hidden="true"/>
                            <td>@Model.Posts[i].SaveNow</td>
                            <input asp-for="Posts[i].SaveNow" value="@Model.Posts[i].SaveNow" hidden="True" type="checkbox"/>
                        </tr>
                    }
                }
                </tbody>
            </table>
        </div>
    }
    <div class="col-md-10">
        <button class="btn btn-success" type="submit" disabled="@Model.HasError">Confirm</button>
    </div>
</form>
