@model FBPoster.ViewModels.PostForUpload

@{
    ViewBag.Title = "Details";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

@if (Model.HasError && !Model.Done)
{
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title">Post for @Model.PageID</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Page ID: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.PageID
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Publish On: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.PublishOn
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Content: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.Content
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Image Url: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.ImgUrl
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Url: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.Url
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Error Message: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.ErrorMsg
                </div>
            </div>
        </div>
    </div>
}
else if (!Model.HasError && Model.Done && !Model.SaveNow)
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Post for @Model.PageID</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Page ID: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.PageID
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Publish On: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.PublishOn
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Content: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.Content
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Image Url: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.ImgUrl
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Url: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.Url
                </div>
            </div>
        </div>
    </div>
}
else if (!Model.HasError && Model.Done && Model.SaveNow)
{
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title">Post for @Model.PageID Saved</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Page ID: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.PageID
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Publish On: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.PublishOn
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Content: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.Content
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Image Url: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.ImgUrl
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Url: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.Url
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Post for @Model.PageID</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Page ID: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.PageID
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Publish On: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.PublishOn
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Content: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.Content
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Image Url: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.ImgUrl
                </div>
            </div>
            <hr/>

            <div class="row">
                <div class="col-sm-3 col-md-2 col-5">
                    <label style="font-weight: bold;">Url: </label>
                </div>
                <div class="col-md-8 col-6">
                    @Model.Url
                </div>
            </div>
        </div>
    </div>
}