@model Post

@{
    ViewBag.Title = "Edit";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>
    <form class="col-lg-10 form-horizontal" enctype="application/json" asp-controller="Posts" asp-action="Edit" method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="PageID" class="col-sm-2 control-label">
                Page ID
            </label>
            <div class="col-md-10">
                <input type="text" class="form-control" placeholder="Page ID" asp-for="@Model.PageID" value="@Model.PageID"/>
            </div>
            <span class="text-danger" asp-validation-for="@Model.PageID"></span>
        </div>
        
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="form-group">
            <label asp-for="PageID" class="col-sm-2 control-label">
                Content
            </label>
            <div class="col-md-10">
                <textarea type="text" class="form-control" placeholder="Content" asp-for="@Model.Content" value="@Model.Content" rows="3"></textarea>
            </div>
            <span class="text-danger" asp-validation-for="@Model.Content"></span>
        </div>
        
        <div class="form-group">
            <label asp-for="PublishOn" class="col-sm-2 control-label">
                Publish On
            </label>
            <div class="col-sm-10">
                <input class="form-control" placeholder="PublishOn" asp-for="@Model.PublishOn" value="@Model.PublishOn.ToString("yyyy-MM-dd")T@(Model.PublishOn.ToString("HH:mm:ss"))"/>
            </div>
            <span class="text-danger" asp-validation-for="@Model.PublishOn"></span>
        </div>

        <div class="form-group">
            <label asp-for="Url" class="col-sm-2 control-label">
                Url
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Url" asp-for="Url" value="@Model.Url"/>
            </div>
            <span class="text-danger" asp-validation-for="@Model.Url"></span>
        </div>

        <div class="form-group">
            <label asp-for="ImgUrl" class="col-sm-2 control-label">
                Image Url
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" placeholder="Image Url" asp-for="ImgUrl" value="@Model.ImgUrl"/>
            </div>
            <span class="text-danger" asp-validation-for="@Model.ImgUrl"></span>
        </div>
        
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Edit</button>
            </div>
        </div>
    </form>
