@model FBPoster.Helpers.PagedList<Post>

@{
    ViewBag.Title = "Posts";
    Layout = "_Layout";
}

<h2>Posts</h2>


@if (Model.TotalCount != 0)
{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
    <table class="table">
        <thead>
        <tr>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]">Page Name</a>
            </th>
            <th>
                Publish On
            </th>
            <th>
                <a asp-action="Index" asp-route-sortOrder="@ViewData["DateSortParm"]">Content</a>
            </th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model) {
            if (item.HasError && !item.Done)
            {
                <tr class="danger">
                    <td>
                        @Html.DisplayFor(modelItem => item.PageID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishOn)
                    </td>
                    <td class="col-md-6">
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>
            }
            else if (!item.HasError && item.Done)
            {
                <tr class="success">
                    <td>
                        @Html.DisplayFor(modelItem => item.PageID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishOn)
                    </td>
                    <td class="col-md-6">
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>  
            }
            else
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PageID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishOn)
                    </td>
                    <td class="col-md-6">
                        @Html.DisplayFor(modelItem => item.Content)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                        <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    </td>
                </tr>                
            }
        }
        </tbody>
    </table>
    
    
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a aria-label="Previous"
                   asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@(Model.Page - 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @prevDisabled">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            @for (int i=Model.TotalPages-1; i>= 0; i--)
            {
                <li>
                    <a  asp-action="Index"
                        asp-controller="Posts"
                        asp-route-sortOrder="@ViewData["CurrentSort"]"
                        asp-route-currentFilter="@ViewData["CurrentFilter"]"
                        class="btn btn-default @(Model.TotalPages - i == Model.Page  ? "disabled" : "")"
                        asp-route-page="@(Model.TotalPages - i)">@(Model.TotalPages - i)</a>
                </li>
            }
            <li>
                <a aria-label="Next"
                   asp-action="Index"
                   asp-route-sortOrder="@ViewData["CurrentSort"]"
                   asp-route-page="@(Model.Page + 1)"
                   asp-route-currentFilter="@ViewData["CurrentFilter"]"
                   class="btn btn-default @nextDisabled">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
}
else
{
    <h3>Sorry We have no data.</h3>
}

