﻿@model FBPoster.ViewModels.LoginViewModel
<h2 class="text-center">Login</h2>
<form asp-controller="Account" asp-action="Login" method="post" class="col-md-6 col-md-offset-3">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <div class="form-group has-success">
        <input asp-for="Username" class="form-control" type="text" name="Username" placeholder="User Name">
        <span asp-validation-for="Username" class="text-danger"></span>
        <br/>
        <input asp-for="Password" class="form-control" type="password" name="Password" placeholder="Password">
        <span asp-validation-for="Password" class="text-danger"></span>
        <br/>
        <label class="checkbox-inline checkbox"><input asp-for="RememberMe" type="checkbox"name="RememberMe">Remember Me</label>
        <span asp-validation-for="RememberMe" class="text-danger"></span>
        <br/>
    </div>
    <div class="form-group">
        <button class="btn btn-primary" type="submit">Log In</button>
    </div>
</form>