@model FBPoster.ViewModels.RegisterViewModel

@{
    ViewBag.Title = "Register";
    Layout = "_Layout";
}

<h2>@ViewBag.Title</h2>

<form asp-controller="Account" asp-action="Register" class="col-md-6 col-md-offset-3" asp-antiforgery="true">
    <div class="text-danger" asp-validation-summary="ModelOnly"></div>
    <label asp-for="Username">
        <b>Username</b>
    </label>
    <input asp-for="Username" class="form-control" type="text" placeholder="Username" name="Username" required>
    <span class="text-danger" asp-validation-for="Username"></span>

    <label asp-for="Password">
        <b>Password</b>
    </label>
    <input asp-for="Password" class="form-control" type="password" placeholder="Password" name="Password" required>
    <span class="text-danger" asp-validation-for="Password"></span>
    
    <label asp-for="Password">
        <b>Confirm Password</b>
    </label>
    <input asp-for="ConfirmPassword" class="form-control" type="password" placeholder="Confirm Password" name="ConfirmPassword" required>
    <span class="text-danger" asp-validation-for="ConfirmPassword"></span>
    
    
    <label asp-for="Password">
        <b>Registration Password</b>
    </label>
    <input asp-for="RegistrationPassword" class="form-control" type="password" placeholder="Registration Password" name="RegistrationPassword" required>
    <span class="text-danger" asp-validation-for="RegistrationPassword"></span>
    <p class="text-info">You can get this password from the owner of the website.</p>
    
    <br/>
    
    <div>
        <button class="btn btn-success" type="submit">Register</button>
    </div>
</form>    
