@model FBPoster.ViewModels.AuthenticationViewModel

@{
    ViewBag.Title = "Authentication";
    Layout = "_Layout";
}
<div class="container">
    <h2>@ViewBag.Title</h2>
    <div class="text-warning">We need authentication in order to access to your facebook account.</div>
    <p>Please open facebook application so you can find the authentication code.</p>
    <form class="col-md-6" asp-controller="SetUp" asp-action="Authentication">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <label asp-for="Code">
            <b>Enter the 6-digit code from your Code Generator or 3rd party app here.</b>
        </label>
        <input asp-for="Code" class="form-control" type="text" placeholder="Code" name="Code" required>
        <span class="text-danger" asp-validation-for="Code"></span>

        <button class="btn btn-primary" type="submit">Login</button>
    </form>
</div>