@model FBPoster.ViewModels.InitializationViewModel

@{
    ViewBag.Title = "SetUp";
    Layout = "_Layout";
}

<div class="container-fluid">
    <h2>Setup webdriver instance for facebook</h2>
    
    @if (!Model.LoggedIn)
    {
        <form asp-controller="SetUp" asp-action="Index" class="col-md-6 col-md-offset-3">
            <div class="text-danger" asp-validation-summary="ModelOnly"></div>
            <label asp-for="FacebookLogin.Username">
                <b>Username</b>
            </label>
            <input asp-for="FacebookLogin.Username" class="form-control" type="text" placeholder="Facebook Username" name="FacebookLogin.Username" required>
            <span class="text-danger" asp-validation-for="FacebookLogin.Username"></span>

            <label asp-for="FacebookLogin.Password">
                <b>Password</b>
            </label>
            <input asp-for="FacebookLogin.Password" class="form-control" type="password" placeholder="Facebook Password" name="FacebookLogin.Password" required>
            <span class="text-danger" asp-validation-for="FacebookLogin.Password"></span>

            <button class="btn btn-primary" type="submit">Login</button>
        </form>        
    }
    else
    {
        <h3 class="text-success">You already logged.</h3>
        
        <a class="btn btn-danger" asp-action="Disconnect" asp-controller="SetUp">Disconnect</a>
    }
</div>